body {
  background: url('https://bg-info.sprax2013.de/img/bg.png') center repeat-y;
  background-color: #1f2326;
}

.container-fluid {
  padding-right: 75px;
  padding-left: 75px;
}

main {
  padding-top: 5%;
}

.logo {
  height: 5rem;
  width: auto;
  align-self: center;
}

.backToHome {
  margin-left: 1rem;
  margin-top: .5rem;
}

hr {
  border-color: #a0a2a4;
  color: #a0a2a4;
}

.form-control {
  background: transparent;
  color: #a0a2a4;
}

.form-control.noBorder {
  border-color: transparent;
  border-bottom-color: #a0a2a4;
}

input::placeholder,
textarea::placeholder {
  color: white !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: unset !important;
}

/* TODO: Überdeckt Inhalte auf kleinen Geräten */
/* Fixed Footer */
html {
  position: relative;
  min-height: 100%;
}

main {
  padding-bottom: 145px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}